{% extends 'base.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4 p-2">
            <form action="{{ path('app_login') }}" method="post">
                <div class="form-group">
                    <label class="form-check-label" for="username">Login:</label>
                    <input class="form-control mb-2" type="text" id="username" name="_username" value="{{ last_username }}"/>

                    <label class="form-check-label" for="password">Hasło:</label>
                    <input class="form-control" type="password" id="password" name="_password"/>
                </div>
                <button class="btn btn-success my-3" type="submit">Zaloguj</button>
            </form>
        </div>

        {% if error %}
            <div class="col-md-3 col-lg-4 p-4 text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
    </div>

{% endblock %}
